/AdmPersistenciaCliente.class
/AdministradorPersistencia.class
/PoolConnection.class
/AdmPersistenciaArreglo.class
/AdmPersistenciaBoleta.class
/AdmPersistenciaCalzado.class
/AdmPersistenciaEmpleado.class
